<div class="view hm-black-light jarallax parallax-bottom" style="background-image:
     url(http://data.freehdw.com/astronaut-floating-in-space.jpg);">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="h1-reponsive white-text font-up font-bold mb-3 animated fadeInDown"
                            data-wow-delay="0.3s"><strong>Записки марсианины</strong></h1>
                        <hr class="hr-light mt-4 animated fadeInDown" data-wow-delay="0.4s">
                        <h5 class="font-up mb-5 white-text animated fadeInDown"
                            data-wow-delay="0.4s"><strong>Экстраординарные мысли о
                            космосе и не только</strong></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>