<div class="view hm-black-light jarallax parallax">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="h1-reponsive white-text font-up font-bold mb-3 animated fadeInDown"
                            data-wow-delay="0.3s"><strong>Записки марсианина</strong></h1>
                        <hr class="hr-light mt-4 animated fadeInDown" data-wow-delay="0.4s">
                        <h5 class="font-up mb-5 white-text animated fadeInDown"
                            data-wow-delay="0.4s"><strong>Экстраординарные мысли о
                            космосе и не только</strong></h5>
                        <a class="btn btn-outline-white animated fadeInDown waves-light"
                           data-wow-delay="0.4s" mdbRippleRadius>Записки</a>
                        <a class="btn btn-outline-white animated fadeInDown waves-light"
                           data-toggle="modal" data-target="#basicExample"
                           (click)="demoBasic.show()" data-wow-delay="0.4s" mdbRippleRadius>О
                            проекте</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div mdbModal #demoBasic="mdb-modal" class="modal fade" id="basicExample" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="align-content: center;margin-top: 10%">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">О проекте</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="demoBasic.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis
                eos excepturi harum rem sapiente temporibus voluptatem. Aspernatur culpa
                deleniti deserunt doloremque dolores earum esse est fugiat, inventore minus
                nulla, odio possimus quas quis repudiandae sed totam voluptatibus! Accusantium
                cumque delectus dolor doloremque error, id ipsa itaque iure, laboriosam minima
                mollitia natus optio quae quaerat tempora tempore temporibus tenetur. Aliquam
                blanditiis dolore earum error facilis id perferendis, quas sequi. Alias
                consectetur dignissimos expedita nulla quisquam quos unde veniam. Delectus earum
                eligendi et nam. Adipisci debitis dicta dolore excepturi expedita! Aliquid animi
                aut cupiditate dolorum eligendi error ex facere fuga fugiat harum illo inventore
                ipsa iusto libero magnam maiores nemo, optio pariatur placeat qui quod quos
                reiciendis repellendus repudiandae, tenetur vel voluptate voluptatum? Autem
                blanditiis fugit laboriosam modi non perspiciatis qui sint veniam vitae
                voluptates? Animi asperiores autem commodi cum delectus dicta dolor dolorem
                doloribus eum eveniet, fugiat fugit illo inventore iure minima numquam obcaecati
                perspiciatis quam quidem repellat rerum sapiente similique soluta sunt vero
                voluptas voluptates. A accusamus alias aliquid, architecto assumenda cum
                deserunt dignissimos dolore earum error esse est eum illo in, labore minima
                minus modi nihil nobis numquam officiis quasi qui repudiandae saepe, ut? Aperiam
                beatae blanditiis consequatur culpa dignissimos, dolor dolorem ducimus excepturi
                id iure, magni nesciunt obcaecati optio quaerat quam qui quisquam repellat rerum
                voluptate voluptatibus. Ad beatae cumque dolorem est hic iure qui quos
                voluptatem. Aperiam doloribus itaque repellat! Assumenda libero magnam nobis
                sequi! Facere hic laboriosam magnam maiores officiis placeat, quam quidem
                reiciendis repellat rerum saepe sit voluptatibus? At dolores eos ex ipsum sequi.
                Doloremque itaque, mollitia porro quidem sint vel. Ab alias, consequatur
                consequuntur deserunt dolor dolore earum eligendi enim est et fugiat hic in
                laboriosam minus natus, nihil non nulla numquam odit possimus praesentium
                quisquam recusandae similique, soluta sunt tenetur ullam veritatis!
                loremru
            </div>
        </div>
    </div>
</div>